.carousel-background {
  background-color: #fceae8;
  border-radius: 10px;
}
.carousel-item {
  padding: 20px 40px;
}
.price {
  color: #ffd91c;
}
.buy-now-buton {
  background: #ff2a7e;
  color: white;
  padding: 9px 25px;
  border-radius: 10px;
  cursor: pointer;
}
.container {
  margin-bottom: 100px;
}
